# Git
.git
.gitignore

# Environments
.env
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Docker
.dockerignore
Dockerfile
docker-compose.yml
compose.yaml

# OS/IDE
.DS_Store
.vscode/
.idea/
Thumbs.db
